:root {
    /* declare a variable with `--` syntax */
    --dark: LightSlateGrey;
    --med: lightsteelblue;
    --light: AliceBlue;
}

body {    
    border: none;
    background-color: var(--light);
    font-family: 'Open Sans', sans-serif;
}

/* h1, h2, h3, p & li elements */
h1, h2, h3, p, li {
    margin: 15px;
    color: var(--light);
}

h2 {
    font-size: 27px;
    color: var(--light);
}

/* header section */
/* header container */
header {
    border: 4px solid var(--dark);
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
}

/* header items */
header h1 {
    display: flex;
    align-items: center;
    width: 60%;
    padding: 5px;
    border: none;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 65%;
    width: auto;
    margin: 15px;
    color: var(--light);
    background-color: transparent;
    border: none;
    list-style-type: none;
}

header li {
    margin: 5px 15px;
}

nav a {
    color: var(--light);
    text-decoration: none;
    border: none;
}

nav a:hover {
    font-weight: bold;
}

/* about me section */
/* about me container */
.aboutme {
    float: left;
    border: 4px solid var(--dark);
    margin: 10px;
    background-color: var(--med);
}

/* about me items */
.aboutme img {
    float: left;
    border: 5px solid var(--dark);
    margin: 0 15px 10px 15px;
    padding: 5px;
    height: 150px;
    width: 150px;
}

.aboutme h2 {
    padding: 5px;
    border: none;
    margin-bottom: 0;
}

.aboutme p {
    display: flex;
    border: none;
    padding: 5px;
    margin: 0 15px 10px 15px;
}

/* work section */
/* container */
.work {    
    border: 4px solid var(--dark);
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: var(--med);
}
/* work item */
.work h2 {
    display: flex;
    padding: 5px;
    border: none;
    margin-bottom: 0;
    width: 100%;
}

.card {    
    border: 2px solid var(--dark);
    margin: 0 20px 15px 15px;
    height: 200px;
    width: 200px;
}

.card h3, img, details, summary {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    transition: transform 0.5s;
    margin: 5px 50px;
    height: 100px;
    width: 100px;
}

.card img:hover {
    transform: scale(1.25);
    border: 5px solid var(--light);
    cursor: pointer;
}

.card details {
    color: var(--light);
    list-style-type: none;
}

.card summary:hover {
    cursor: pointer;
}

.card details[open] {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
    padding: 5px;
    border: 5px solid var(--light);
    background-color: var(--dark);
}

/* contact me section */
/* contact me container */
.contactme {    
    border: 4px solid var(--dark);
    margin: 10px;
    background-color: var(--med);
    display: flex;
    justify-content: space-between;
}

/* contact me items */
.contactme h2 {
    display: flex;
    align-items: center;
    width: 20%;
    padding: 5px;
    border: none;
}

.contactme ul {
    display: flex;
    flex-wrap: wrap;
    color: var(--lighest);
    background-color: transparent;
    border: none;
    list-style-type: none;
}

.contactme li {
    border: 2px solid var(--dark);
    padding: 10px 15px;
    margin: 5px 30px;
    font-size: 17px;
}

/* resume section */
.resume {    
    border: 4px solid var(--dark);
    margin: 10px;
    display: flex;
    background-color: var(--med);
    align-items: center;
    justify-content: space-between;
}

.resume a {
    color: var(--light);
    text-decoration: none;
    border: none;
    margin: 5px 30px;
}

.resume a:hover {
    cursor: pointer;
    font-weight: bold;
}

/* footer section */
.footer {    
    border: 5px solid var(--dark);
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    justify-content: center;
    font-size: 21px;
}
